.Weather {
  border: 2px solid #ffffff;
  background-color: #000000;
  border-radius: 10px;
}
.Weather h1 {
  color: #ffffff;
  text-align: center;
}
.Weather ul {
  color: #ffffff;
  margin: 0;
}

.Weather li {
  list-style: none;
  font-size: 14px;
}
